<!DOCTYPE html>
<html>
<head>
	<style type="text/css">

	.tweet_box {
		border: 1px solid grey;
		margin: 3%;
		padding: 3%;

	}
		

	</style>
	<title></title>
	
</head>
<body>
	{% csrf_token %}
	{% if user.is_authenticated %}

		<h2> welcome {{ user.get_username }}</h2>
		<a href="{% url 'tweets:new_tweet' %} ">tweet</a>
		<a href = "/auth_urls/logout" >logout</a>
		<a href = "{% url 'accounts:profile' %}">profile</a>

		{% for model in models %}
		<div class="tweet_box">
			<p>{{ model.author }}</p>
			<p>{{ model.date_time }}</p>
			<p>{{ model.body }}</p>
		</div>
		{% endfor %}


	{% else %}
		<p> You are not logged in </p>
		<a href="/auth_urls/login/">login</a>
	{% endif %}

</body>
</html>